<h3>Users</h3>
<table>
<tr>
  <th>email</th>
  <th>id</th>
</tr>
<% @users.each do |user| %>
  <tr>
    <td><%= user.email %></td>
    <td><%= user.id %></td>
  </tr>
<% end %>
</table>
<h3>Notifications</h3>
<label class="switch">
  <input type="checkbox">
  <div class="slider"></div>
</label>
