<h1><%= @user.email %></h1>
<br>

<%= form_for [current_user, @user] do |f| %>
<%= f.label "Notifications: " %>
<br />
<br />
<label class="switch">
  <%= f.check_box :notificationoption, :onclick => "this.form.submit()" %>
  <div class="slider"></div>
</label>
<br />
<br />
<% if @user.notificationoption? %>
Enabled, you will recieve notifications.
<% else %>
Disabled, no notifications will be sent.
<% end %>
<% end %>
