<div class="jumbotron jumbotron-fluid jumbotron1">
  <div class="container text-right">
    <h1 class="display-1">Welcome to Calendar++</h1>
    <p class="lead">Your personal scheduling assistant.</p>
  </div>
</div>
<div class="jumbotron jumbotron-fluid jumbotron2 text-center">
  <div class="container">
    <h1 class="display-3">Discover Calendar++</h1>
    <p class="lead">Get started by logging in with Google.</p>
  </div>
  <div class="container loginButton">
    <%= link_to 'Get Me Started!', new_user_session_path, class: "btn btn-lg btn-default"%>
  </div>
</div>
<div class="jumbotron jumbotron-fluid jumbotron3">
  <div class="container text-left">
    <h1 class="display-1">Our Story</h1>
    <p class="lead">Discover the epic tale of our humble program</p>
    <div class="container loginButton">
      <%= link_to 'Discover', "https://en.wikipedia.org/wiki/Evolution", class: "btn btn-lg btn-warning"%>
    </div>
  </div>
</div>
