

  <ul>
        <table>
    <% @event_list.items.each do |event| %>
      <tr>
<td align="left">  <%= event.summary %><td align="left"> <td align="left">Time:<%= event.start.date_time %>
</tr>


    <% end %>
    </table>
  </ul>
