<script type="text/javascript">
$(document).ready(function() {

    $('#calendar').fullCalendar({events: './events.json'})

});
</script>
<div id="calendar"></div>
<h1> Events: </h1>
<ul>
  <% @events.each do |e| %>
    <li><a href="<%= user_event_path(id: e.id) %>"><%= e.name %></a></li>
  <% end %>
</ul>
