<h1>Create Event</h1>
<%= render "event_form" %>
<%= link_to 'Make Google Calendar Event', google_event_index_path, class: "btn btn-default" %>
<!-- TODO this should support adding to an event class -->
