<h2><%= @event.name %></h2>
<h3>Metrics: </h3>
<ul>
<% @event.metrics.each do |m| %>
  <%= render 'metrics/show_metric', locals: { metric: m } %>
<% end %>
</ul>

<%= link_to "Edit Metrics", edit_user_event_path, class: "btn btn-default btn-xs" %>
