<h4>Event Classes</h4>
<% EventClass.all.each do |e| %>
  <%= label_tag e.name %>
  <%= hidden_field_tag "event_classes[#{e.id}]", "0" %>
  <%= check_box_tag "event_classes[#{e.id}]", "1", locals[:event_classes].include?(e)  %>
  <br>
<% end %>
