<h2><%= @event_class.name %></h2>
<h3>Metrics</h3>
<table>
  <tbody>
    <tr>
      <th>Name</th>
      <th>Type</th>
    </tr>
  <% @event_class.metric_classes.each do |metric_class| %>
    <%= render 'metric_classes/show', locals: {
      metric_class: metric_class
    } %>
  <% end %>
</tbody>
</table>
